.cardStyle {
  width: 400px;
  display: inline-block;
  margin: 10px;
}

.logo {
  font-size: 2em;
  color: #1da1f2;
}

.timestamp {
  float: right;
}

.tags {
  margin: 2px;
}

.pathName {
  background-color: gray;
}
